/*Page Livres*/
.livres-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.livres-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.livres-item {
    width: 300px;
    display: grid;
    grid-template-rows: 1fr 70px;
    margin: 10px;
    border: 1px solid #919191;
    border-radius: 8px;
}

.livres-item-content {
    text-align: center;
    border-bottom: 1px solid #919191;
}

.livres-item-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.livres-item-actions a {
    padding: 5px 10px;
    background-color: #f5f5f5;
    border: 1px solid #919191;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

.livres-item-actions a:hover {
    background-color: #e5e5e5;
}

/*Page Livres Détails*/
.livres-details {
    display: grid;
    grid-template-columns: 30% 1fr;
    margin: 5vh 0;
}

.livres-details img {
    width: auto;
    height: 400px;
    display: flex;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.livres-details table {
    width: 80%;
    margin: 5vh auto;
    border-collapse: collapse;
    text-align: center;
}

.livres-details th {
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #919191;
}

.livres-details td {
    padding: 10px;
    border: 1px solid #919191;
}

.livres-details .main {
    padding: 0 5vw;
}
